.saleLeadersBox
{
    margin-bottom: 60px;

    .moreGamesLinks
    {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 5px;
        font-size: 14px;
        color: #ffffff;
    }
}