.carouselContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.categoriesContainer {
    display: flex;
    gap: 20px;
    width: 100%;
    z-index: 1;
}

.navButton {
    height: 100px;
    background: rgba(15, 10, 10, 0.35);
    color: #cccccc;
    border: none;
    font-size: 50px;
    cursor: pointer;
    padding: 0 5px;
    transition: transform 0.2s ease, color 0.2s ease;
}

.navButton:hover {
    transform: scale(1.05);
    color: #ffffff;
}

.pageIndicators {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.pageIndicator {
  margin: 12px 2px;
  width: 15px;
  height: 9px;
  border-radius: 2px;
  transition: background-color 0.2s;
  background-color: hsla(202,60%,100%,0.2);
  cursor: pointer;
}

.pageIndicator.active {
    background-color: hsla(202, 60%, 100%, 0.3);
}