.mainBox {
    position: relative;
    transition: transform 0.2s ease, background-image 0.2s ease;

    &.large {
        height: 245px;
        width: 376px;
    }

    &.medium {
        height: 197px;
        width: 291px;
    }

    &.small {
        height: 185px;
        width: 272px;
    }

    .cardImage {
        height: 100%;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .tooltip {
        position: absolute;
        top: 0;
        left: 100%;
        width: 250px;
        background: #dcdedf;
        color: #333333;
        padding: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 9999;

        &::before {
            content: '';
            position: absolute;
            left: -10px;
            top: 20px;
            width: 0;
            height: 0;
            border-right: 10px solid #dcdedf;
            border-top: 9px solid transparent;
            border-bottom: 9px solid transparent;
        }

        .gameTitle {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .releaseDate {
            font-size: 10px;
        }

        .description {
            margin-top: 10px;
            font-size: 12px;
        }

        .gameReviews {
            display: flex;
            flex-direction: column;
            font-size: 12px;
            border-radius: 3px;
            padding: 4px 5px;
            background: #3a4545;
            color: #ffffff;
            margin: 10px 0;

            .summaryReviews {
                color: #66C0F4;
            }
        }

        .gameTags {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            margin: 10px 0 0 0;

            .tag {
                padding: 2px 5px;
                background-color: #6c7a89;
                color: #ffffff;
                font-size: 12px;
                border-radius: 3px;
            }
        }
    }

    &:hover .tooltip {
        display: block;
    }

    .cardImage:hover {
        background-image: url('${game.giUrl}');
        transform: scale(1.1);
    }
}