.bigSaleBackgroung {
    margin-top: 50px;
    background: linear-gradient(161deg, #F5DCC2 8.84%, #F1C18B 86.04%);
    padding: 30px 0 15px 0;
    border-radius: 3px;

    .bigSaleInfoAndSeeMore {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 54px 50px 54px;

        .bigSaleInfo {
            display: flex;
            flex-direction: column;
            .title {
                color: #E3535B;
                text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
                font-size: 38px;
            }

            .description {
                font-size: 14px;
                color: #000000;
            }
        }
    }
}