.carouselContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .categoriesContainer
    {
        display: flex;
        gap: 20px;
        width: 100%;
        z-index: 1;
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.1s ease, transform 0.1s ease;
    }

    .categoriesContainer.hidden
    {
        opacity: 0;
    }

    .categoriesContainer.next
    {
        transform: translateX(20px);
    }
    .categoriesContainer.prev
    {
        transform: translateX(-20px);
    }
}

