.background {

    width: 100%;
    min-height: 100vh;
    overflow: auto;
    font-family: 'Motiva Sans', sans-serif;
    background-color: #202531;
    background-image: url('/background.png');

    .backgroundGif {
        position: absolute;
        margin-top: 104px;
        height: 700px;
        top: 0;
        left: 0;
        width: 100%;
        background-image: url('/webm_page_bg_russian.gif');
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 1;
    }

    .pageContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 1000;
    }
}