.carouselContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;

    .gamesContainer {
        display: flex;
        gap: 20px;
        width: 100%;
        z-index: 1;
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.1s ease, transform 0.1s ease;
    }

    .gamesContainer.hidden {
        opacity: 0;
        transform: translateY(20px);
    }

    .gamesContainer.next
    {
        transform: translateX(20px);
    }
    .gamesContainer.prev
    {
        transform: translateX(-20px);
    }
}