.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-size: 13px;
  background: linear-gradient(90deg, rgba(62, 103, 150, 0.919) 11.38%, rgba(58, 120, 177, 0.8) 25.23%, rgb(15, 33, 110) 100%);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  justify-content: center;
  width: 940px;
  margin-top: 30px;
  margin-bottom: 27.1vw;
  .tab {
    display: flex;
    align-items: center;
    height: 35px;
    padding: 0 22.5px;
    color: #e5e5e5;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      background: linear-gradient(90deg, rgba(33, 162, 255, 0.25) 0%, rgba(33, 162, 255, 0.15) 50%, rgba(50, 50, 51, 0) 100%);
      text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
      color: #ffffff;
    }
  }
  .searchBox {
    display: flex;
    align-items: center;
    background-color: #316282;
    box-shadow: 1px 1px 0px rgba( 255, 255, 255, 0.2);
    .searchInput {
      background: none;
      border-radius: 3px;
      border: 1px solid rgba( 0, 0, 0, 0.3);
      height: 27px;
      padding: 0px 6px;
      color: #0e1c25;
      outline: none;
      &:hover {
        border: 1px solid #4c9acc;
        box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.0);
      }
    }
    .searchButton {
      display: block;
      width: 27px;
      height: 27px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url('/search.png');
      background-color: #316282;
      border-radius: 3px;
      border: 1px solid rgba( 0, 0, 0, 0.3);
      &:hover {
        background-color: #4c9acc;
        box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.0);
      }
    }
  }
}