.tablesTitleBox {
    display: flex;
    flex-direction: column;

    .tablesTitle {
        font-size: 26px;
    }

    .tablesDescription {
        font-size: 14px;
    }

    .tablesTitle, .tablesDescription {
        margin: 0 15px;
        text-transform: uppercase;
        font-weight: 600;
        text-shadow: 2px 2px 4px #5a2222;
        color: #ffffff;
    }
}